
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <TITLE>Registro de Funcionário</TITLE>
    <link href="asserts/stylesheets/stilize/stilize.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/client_func_login.css">
</head>
<body>
    <header class="showcase">
        <div class="showcase-top">
            <img src="~/imagens/logo.png" alt="" />
        </div>
        <form class="showcase-content ">
            <div class="form-group">
                <input class="form-control" name="#" type="text" id="#" placeholder="E-mail">
            </div><br>
            <div class="form-group">
                <input class="form-control" name="#" type="password" id="#" placeholder="Senha">
            </div><br>
            <a href="#" type="submit" class="btn btn-lg">Entrar</a>
            <a href="/Home/Index" class="btn btn-lg">Voltar</a>
        </form>

    </header>
</body>
</html>
