
@{
    Layout = null;
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <TITLE>Login</TITLE>
    <link href="asserts/stylesheets/stilize/stilize.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/client_func_login.css">
</head>
<body>
    <header class="showcase">
        <div class="showcase-top">
            <img src="~/imagens/logo.png" alt="" />
        </div>
        <form action="/Login/FazLogin" method="post" class="showcase-content ">
            <div class="form-group">
                <input class="form-control" name="usuario" type="text" id="usuario" placeholder="E-mail">
            </div><br>
            <div class="form-group">
                <input class="form-control" name="senha" type="password" id="senha" placeholder="Senha">
            </div><br>
            <input class="form-control" name="table" type="hidden" id="table" value="@ViewBag.table">
            <input type="submit" class="btn btn-lg" value="Entrar" />
            <a href="/Home/Index" class="btn btn-lg">Voltar</a>
            <br />
            @if (@ViewBag.table != "Employer")
            {
                <a href="/Costumer/Create" class="btn btn-lg row col-xs-12 col-sm-12 col-md-12 col-lg-12 " align="center" style="margin-top: 100px;">Cadastre-se</a>
            }
            @if (ViewBag.Erro != null)
            {
                <p style="background-color: red;text-align: center;color: #FFF;border-radius: 20px;">@ViewBag.Erro</p>
            }
        </form>
    </header>
    
</body>
</html>
