@model MoviesViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <TITLE>Cadastro de Filmes</TITLE>
    @*<link href="asserts/stylesheets/stilize/stilize.min.css" rel="stylesheet" type="text/css">*@
    <link rel="stylesheet" href="~/css/client_func_login.css?v=1.0.3">
</head>
<body>
    <header class="showcase">
        <div class="showcase-top">
            <img src="~/imagens/logo.png" alt="" />
        </div>

        <form action="/Movies/Salvar" class="showcase-content" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

            <br />
            <div class="form-group">
                <label for="Name">Nome do Filme</label>
                <input class="form-control" asp-for="Name" required style="width:358px">

            </div><br>

            <div class="form-group">
                <label for="Description" class="control-label">Descrição</label>
                <input asp-for="Description" class="form-control" style="width:358px" required>

            </div><br>

            <div class="form-group">
                <label for="Imagem">Capa do Filme</label><br />
                <input type="file" name="Imagem" id="Imagem" onchange="exibirImagem()" class="btn btn-secondary">
                <br />
                <br />
                <img id="imgPreview" src="data:imagens/jpeg;base64,@Model.ImagemEmBase64" class="img-responsive" width="200">
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div><br>

            <div class="form-group">
                <label for="Type" class="control-label">Gênero</label>
                <input asp-for="Type" class="form-control" style="width:358px" required>

            </div><br>

            <div class="form-group">
                <label for="Length" class="control-label">Duração do Filme (em minutos)</label>
                <input asp-for="Length" class="form-control" placeholder="Ex.: 90" style="width:358px" required>

            </div><br>

            <div class="form-group">
                <label for="Min_age" class="control-label">Idade Mínima</label>
                <input asp-for="Min_age" class="form-control" style="width:358px" required>

            </div><br>

            <div class="form-group">
                <label for="Language" class="control-label">Idioma</label>
                <input asp-for="Language" class="form-control" style="width:358px" required>

            </div><br>

            <div class="mt-2">
                <label for="Subtitle" class="control-label">Possui Legenda?</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="AffectsUsersYes" asp-for="Subtitle" type="radio" value="true" />
                    <label class="form-check-label" for="AffectsUsersYes">Sim</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="AffectsUsersNo" asp-for="Subtitle" type="radio" value="false" />
                    <label class="form-check-label" for="AffectsUsersNo">Não</label>
                </div>
            </div>

            <br />
            <input type="submit" class="btn btn-lg" value="Enviar" />
            <a href="/Movies/Index" class="btn btn-lg">Voltar</a>
        </form>

    </header>
</body>
</html>

<script>
    function exibirImagem() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("Imagem").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("imgPreview").src = oFREvent.target.result;
        };
    }
</script>