
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <TITLE>Area Administrativa</TITLE>
    <link href="asserts/stylesheets/stilize/stilize.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/client_func_login.css">
</head>
<body>
    <header class="showcase">
        <div class="showcase-top">
            <img src="~/imagens/logo.png" alt="" />
        </div>
    </header>
    <div>
        <a href="/Employer/Index" class="btn btn-lg">Funcionarios</a>
        <a href="/Theaters/Index" class="btn btn-lg">Cinemas</a>
        <a href="/Rooms/Index" class="btn btn-lg">Salas</a>
        <a href="/Movies/Index" class="btn btn-lg">Filmes</a>
        <a href="/Home/Index" class="btn btn-lg">Voltar</a>
    </div>
</body>
</html>

