@model EmployerViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <TITLE>Registro de Funcionário</TITLE>
    <link href="asserts/stylesheets/stilize/stilize.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/client_func_login.css?v=1.0.2">
</head>
<body>
    <header class="showcase">
        <div class="showcase-top">
            <img src="~/imagens/logo.png" alt="" />
        </div>
        
        <form action="/Employer/Salvar" method="post" class="showcase-content">

            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

            @if (ViewBag.Operacao == "A")
            {
                <input class="form-control" name="Id" type="text" id="Id" placeholder="Id">
                <input asp-for="Id" readonly class="form-control disabled" />
            }

            <div class="form-group">
                <input class="form-control" name="Name" type="text" id="Name" placeholder="Nome">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label for="Hired_at" class="control-label">Data de Admissão</label>
                <input asp-for="Hired_At" type="date" class="form-control">
                <span asp-validation-for="Hired_At" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input class="form-control" name="Email" type="text" id="Email" placeholder="E-mail">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input class="form-control" name="Password" type="password" id="Password" placeholder="Senha">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input class="form-control" name="Password" type="password" id="Password" placeholder="Confirme a senha">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div><br>
            <a href="#" type="submit" class="btn btn-lg">Enviar</a>
            <a href="/Employer/Index" class="btn btn-lg">Voltar</a>
        </form>

    </header>
    <script type="text/javascript" src="~/js/cadastroFunc.js"></script>
</body>
</html>
