@model CostumerViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <TITLE>Registro de Clientes </TITLE>
    <link href="asserts/stylesheets/stilize/stilize.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/client_func_login.css?v=1.0.3">
</head>
<body>
    <header class="showcase">
        <div class="showcase-top">
            <img src="~/imagens/logo.png" alt="" />
        </div>

        <form action="/Costumer/Salvar" method="post" class="showcase-content ">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="Operacao" value="I" />

            <div class="form-group">
                <label for="Name">Nome</label>
                <input class="form-control" style="width:358px" required name="Name" type="text" id="Name" placeholder="Ex: Glauber">
            </div><br>
            <div class="form-group">
                <label for="Email">Email</label> 
                <input class="form-control" style="width:358px" required name="Email" type="text" id="Email" placeholder="glauber@email.com">
            </div><br>
            <div class="form-group">
                <label for="Password">Senha</label>
                <input class="form-control" style="width:358px" required name="Password" type="password" id="Password" placeholder="#$%¨">
            </div><br>
            <div class="form-group">
                <label for="ConfirmPassword">Confirme a Senha</label>
                <input class="form-control" style="width:358px" required name="ConfirmPassword" type="password" id="ConfirmPassword" placeholder="#$%¨">
            </div><br>
            <input type="submit" class="btn btn-lg" value="Enviar" />
            <a href="/Login/Index" class="btn btn-lg">Voltar</a>
            @if (ViewBag.Erro != null)
            {
                <p style="background-color: red;text-align: center;color: #FFF;border-radius: 20px;">@ViewBag.Erro</p>
            }
        </form>
    </header>
    <script type="text/javascript" src="~/js/cadastroFunc.js"></script>
</body>
</html>